* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(193, 238, 246);
}
.heading {
  font-size: 35px;
  font-weight: bolder;
  text-shadow: 0px 5px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  /* width: 300px; */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#screen {
  margin-top: 5px;
  width: 170px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid green;
  background-color: rgb(130, 211, 130);
}
.parent {
  background-image: linear-gradient(black, white);
  width: 180px;
  height: 185px;
  border: 2px solid black;
  border-radius: 5px;
}
button {
  background-color: black;
  color: white;
  margin-top: 4px;
  padding: 5px 8px;
}
